<mat-card class="LandingCard">
  <div *ngIf="currentPage===HOME" class="LandingCard-content">
    <button mat-flat-button type="button" color="primary" (click)="willHostChat()">
      Host Chat
    </button>
    <button mat-stroked-button type="button" color="primary" (click)="willJoinChat()">
      Join Chat
    </button>
  </div>

  <ng-container *ngIf="currentPage===HOST">
    <form [formGroup]="signInForm" class="LandingCard-content">
      <mat-form-field appearance="outline">
        <mat-label>Nickname</mat-label>
        <input matInput type="text" formControlName="nickname" placeholder="Nickname" required />
        <mat-error *ngIf="getError('nickname')">
          {{ getError('nickname') }}
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" (click)="hostChat()" [disabled]="signInForm.invalid || processing">
        Enter
      </button>
      <button mat-stroked-button type="button" (click)="goBack()">
        Back
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="currentPage===JOIN">
    <form [formGroup]="signInForm" class="LandingCard-content">
      <mat-form-field appearance="outline">
        <mat-label>Nickname</mat-label>
        <input matInput type="text" formControlName="nickname" placeholder="Nickname" required />
        <mat-error *ngIf="getError('nickname')">
          {{ getError('nickname') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Chat ID</mat-label>
        <input matInput type="text" formControlName="chatId" placeholder="Chat ID" required />
        <mat-error *ngIf="getError('chatId')">
          {{ getError('chatId') }}
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" (click)="joinChat()" [disabled]="signInForm.invalid || processing">
        Enter
      </button>
      <button mat-stroked-button type="button" (click)="goBack()">
        Back
      </button>
    </form>
  </ng-container>
</mat-card>
