:host {
  height: 100%;
  width: 100%;
}

.ChatComponent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ChatComponent-body {

}

.ChatComponent-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;

  mat-form-field {
    flex: 1
  }
}